.recipe-title {
  color: var(--ion-color-step-950);
  font-size: 18px;
}

ion-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card-image {
  height: 250px;
  margin: 0 auto;
  display: block;
}

ion-item.card-buttons {
  margin-right: 0;
}

.recipe-description {
  height: 40px;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
